# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 130
SpaceAfterCStyleCast: true
UseTab: Never
SpacesBeforeTrailingComments: 3
NamespaceIndentation: All

# AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never

AlignTrailingComments: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveDeclarations: true

BreakBeforeBraces: Allman

BreakBeforeConceptDeclarations: Always
AlwaysBreakTemplateDeclarations: Yes  
IndentRequiresClause: false

BinPackArguments: false
BinPackParameters: false

RemoveSemicolon: true

IncludeBlocks: Regroup

# use \n instead of \r\n
UseCRLF: false
