# Checks to be ignored:
# altera-unroll-loops: does not affect the code for non FPGA targets -- gets interesting for OpenCL kernels
# altera-struct-pack-align: does not affect the code for non FPGA targets -- gets interesting for OpenCL kernels
# boost-use-ranges: we do not want to use boost at all, to not increase our dependencies even more!!!
# bugprone-suspicious-include: flags more or less only false positives
# fuchsia-default-arguments-calls: there is a second check that disallows default arguments in function definitions, which is more important to us than this check (this for example triggers for simple std::vector constructors)
# fuchsia-overloaded-operator: we actually WANT to overload operators, so this check is not useful for us
# fuchsia-trailing-return: we actually WANT to use trailing return types, very useful for template functions, so this check is not useful for us

# Checks to be absolutely enabled:
# cert-env33-c: ::system is not available on all platforms, and we do not want to use it anyway
# cert-err58-cpp: needs a generalized implementation fix
# bugprone-easily-swappable-parameters: we need to adopt the code base to it
# cppcoreguidelines-avoid-const-or-ref-data-members: needs huge rework
# concurrency-mt-unsafe: same as cert-env33-c, we do not want to use ::system anyway
# cppcoreguidelines-non-private-member-variables-in-classes: needs huge rework
# cppcoreguidelines-pro-type-union-access: should be possible to avoid this warning for Vector3D, but needs a rework of the code base
# cppcoreguidelines-pro-type-member-init: needs a rework of the code base, but should be possible to fix it for all classes
# cppcoreguidelines-owning-memory: needs a rework of the code base, but should be possible to fix it for all classes
# fuchsia-statically-constructed-objects: needs a rework of the global const maps like atomMassMap, atomNumberMap, hubbardDerivMap3ob, etc. to avoid this warning
# fuchsia-virtual-inheritance: needs a huge rework of the engine code base, but should be possible to fix it for all classes
# fuchsia-multiple-inheritance: needs a huge rework of the engine code base, but should be possible to fix it for all classes
# google-build-using-namespace: definitely needed but needs a rework of the code base, maybe with a custom clang-tidy checker
# google-readability-todo: needs to be discussed on how to generalize TODO handling
# hicpp-member-init: while checking i have seen that there are some parts that really need to be checked (not that straightforward to fix)
---
Checks:          
  '
  abseil-*,
  altera-*,
  android-*,
  bugprone-*,
  cert-*,
  clang*,
  concurrency*,
  cppcoreguidelines*,
  darwin*,
  fuchsia*,
  google*,
  hicpp*,
  linuxkernel*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -bugprone-easily-swappable-parameters,
  -cert-env33-c,
  -cert-err58-cpp,
  -fuchsia-statically-constructed-objects,
  -fuchsia-virtual-inheritance,
  -fuchsia-multiple-inheritance,
  -google-build-using-namespace,
  -google-readability-todo,
  -hicpp-member-init,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -boost-use-ranges,
  -bugprone-suspicious-include,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  '
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
  - tpp
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - tpp
  - cxx
HeaderFilterRegex: '.*/PQ/src/.*'
SystemHeaders: false
FormatStyle:     google
CheckOptions:
    ### allow some magic numbers
    - key:             readability-magic-numbers.IgnoredFloatingPointValues
      value:           "0.5;2.0"
    - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
      value:           "0.5;2.0;1.0"

    ### special member functions
    - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value:           true
    - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
      value:           true

#   - key:             llvmlibc-restrict-system-libc-headers.Includes
#     value:           'cstdint'

#   ### allow short variable names
#   - key:             readability-identifier-length.IgnoredParameterNames
#     value:           '^(id|it|db|x|y|z|tx)$'
#   - key:             readability-identifier-length.IgnoredVariableNames
#     value:           '^(id|it|db|x|y|z|tx)$'
  

  ### short line statements
    - key:             readability-braces-around-statements.ShortStatementLines
      value:           4
    - key:             google-readability-braces-around-statements.ShortStatementLines
      value:           4
    - key:             hicpp-braces-around-statements.ShortStatementLines
      value:           4

#   ### necessary for POD-structs!
#   - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
#     value:           true
...

### TO BE INCLUDED IN THE FUTURE
  # llvm-else-after-return,
  # llvm-header-guard,
  # llvm-include-order,
  # llvm-namespace-comment,
  # llvm-prefer-isa-or-dyn-cast-in-conditionals,
  # llvm-prefer-register-over-unsigned,
  # llvm-qualified-auto,
  # llvm-twine-local,
  # llvmlibc-callee-namespace,
  # llvmlibc-implementation-in-namespace,
  # llvmlibc-inline-function-decl,
  # llvmlibc-restrict-system-libc-headers,
  # misc-confusable-identifiers,
  # misc-const-correctness,
  # misc-coroutine-hostile-raii,
  # misc-definitions-in-headers,
  # misc-header-include-cycle,
  # misc-include-cleaner,
  # misc-misleading-bidirectional,
  # misc-misleading-identifier,
  # misc-misplaced-const,
  # misc-new-delete-overloads,
  # misc-no-recursion,
  # misc-non-copyable-objects,
  # misc-non-private-member-variables-in-classes,
  # misc-redundant-expression,
  # misc-static-assert,
  # misc-throw-by-value-catch-by-reference,
  # misc-unconventional-assign-operator,
  # misc-uniqueptr-reset-release,
  # misc-unused-alias-decls,
  # misc-unused-parameters,
  # misc-unused-using-decls,
  # misc-use-anonymous-namespace,
  # modernize-avoid-bind,
  # modernize-avoid-c-arrays,
  # modernize-concat-nested-namespaces,
  # modernize-deprecated-headers,
  # modernize-deprecated-ios-base-aliases,
  # modernize-loop-convert,
  # modernize-macro-to-enum,
  # modernize-make-shared,
  # modernize-make-unique,
  # modernize-pass-by-value,
  # modernize-raw-string-literal,
  # modernize-redundant-void-arg,
  # modernize-replace-auto-ptr,
  # modernize-replace-disallow-copy-and-assign-macro,
  # modernize-replace-random-shuffle,
  # modernize-return-braced-init-list,
  # modernize-shrink-to-fit,
  # modernize-type-traits,
  # modernize-unary-static-assert,
  # modernize-use-auto,
  # modernize-use-bool-literals,
  # modernize-use-constraints,
  # modernize-use-default-member-init,
  # modernize-use-emplace,
  # modernize-use-equals-default,
  # modernize-use-equals-delete,
  # modernize-use-nodiscard,
  # modernize-use-noexcept,
  # modernize-use-nullptr,
  # modernize-use-override,
  # modernize-use-starts-ends-with,
  # modernize-use-std-numbers,
  # modernize-use-std-print,
  # modernize-use-trailing-return-type,
  # modernize-use-transparent-functors,
  # modernize-use-uncaught-exceptions,
  # modernize-use-using,
  # mpi-buffer-deref,
  # mpi-type-mismatch,
  # objc-assert-equals,
  # objc-avoid-nserror-init,
  # objc-dealloc-in-category,
  # objc-forbidden-subclassing,
  # objc-missing-hash,
  # objc-nsdate-formatter,
  # objc-nsinvocation-argument-lifetime,
  # objc-property-declaration,
  # objc-super-self,
  # openmp-exception-escape,
  # openmp-use-default-none,
  # performance-avoid-endl,
  # performance-enum-size,
  # performance-faster-string-find,
  # performance-for-range-copy,
  # performance-implicit-conversion-in-loop,
  # performance-inefficient-algorithm,
  # performance-inefficient-string-concatenation,
  # performance-inefficient-vector-operation,
  # performance-move-const-arg,
  # performance-move-constructor-init,
  # performance-no-automatic-move,
  # performance-no-int-to-ptr,
  # performance-noexcept-destructor,
  # performance-noexcept-move-constructor,
  # performance-noexcept-swap,
  # performance-trivially-destructible,
  # performance-type-promotion-in-math-fn,
  # performance-unnecessary-copy-initialization,
  # performance-unnecessary-value-param,
  # portability-restrict-system-includes,
  # portability-simd-intrinsics,
  # portability-std-allocator-const,
  # readability-avoid-const-params-in-decls,
  # readability-avoid-nested-conditional-operator,
  # readability-avoid-return-with-void-value,
  # readability-avoid-unconditional-preprocessor-if,
  # readability-braces-around-statements,
  # readability-const-return-type,
  # readability-container-contains,
  # readability-container-data-pointer,
  # readability-container-size-empty,
  # readability-convert-member-functions-to-static,
  # readability-delete-null-pointer,
  # readability-duplicate-include,
  # readability-else-after-return,
  # readability-function-cognitive-complexity,
  # readability-function-size,
  # readability-identifier-length,
  # readability-identifier-naming,
  # readability-implicit-bool-conversion,
  # readability-inconsistent-declaration-parameter-name,
  # readability-isolate-declaration,
  # readability-magic-numbers,
  # readability-make-member-function-const,
  # readability-misleading-indentation,
  # readability-misplaced-array-index,
  # readability-named-parameter,
  # readability-non-const-parameter,
  # readability-operators-representation,
  # readability-qualified-auto,
  # readability-redundant-access-specifiers,
  # readability-redundant-casting,
  # readability-redundant-control-flow,
  # readability-redundant-declaration,
  # readability-redundant-function-ptr-dereference,
  # readability-redundant-inline-specifier,
  # readability-redundant-member-init,
  # readability-redundant-preprocessor,
  # readability-redundant-smartptr-get,
  # readability-redundant-string-cstr,
  # readability-redundant-string-init,
  # readability-reference-to-constructed-temporary,
  # readability-simplify-boolean-expr,
  # readability-simplify-subscript-expr,
  # readability-static-accessed-through-instance,
  # readability-static-definition-in-anonymous-namespace,
  # readability-string-compare,
  # readability-suspicious-call-argument,
  # readability-uniqueptr-delete-release,
  # readability-uppercase-literal-suffix,
  # readability-use-anyofallof,
  # zircon-temporary-objects,
