# Checks to be ignored:
# altera-unroll-loops: does not affect the code for non FPGA targets -- gets interesting for OpenCL kernels
# altera-struct-pack-align: does not affect the code for non FPGA targets -- gets interesting for OpenCL kernels
# boost-use-ranges: we do not want to use boost at all, to not increase our dependencies even more!!!
# bugprone-suspicious-include: flags more or less only false positives

# Checks to be absolutely enabled:
# cert-env33-c: ::system is not available on all platforms, and we do not want to use it anyway
# cert-err58-cpp: needs a generalized implementation fix
# bugprone-easily-swappable-parameters: we need to adopt the code base to it
---
Checks:          
  '
  abseil-*,
  altera-*,
  android-*,
  bugprone-*,
  cert-*,
  clang-analyzer-api*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus*,
  clang-analyzer-d*,
  clang-analyzer-f*,
  clang-analyzer-n*,
  -bugprone-easily-swappable-parameters,
  -cert-env33-c,
  -cert-err58-cpp,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -bugprone-suspicious-include
  '
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
  - tpp
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - tpp
  - cxx
HeaderFilterRegex: '.*/PQ/src/.*'
SystemHeaders: false
FormatStyle:     google
# CheckOptions:
#   - key:             llvmlibc-restrict-system-libc-headers.Includes
#     value:           'cstdint'

#   ### allow short variable names
#   - key:             readability-identifier-length.IgnoredParameterNames
#     value:           '^(id|it|db|x|y|z|tx)$'
#   - key:             readability-identifier-length.IgnoredVariableNames
#     value:           '^(id|it|db|x|y|z|tx)$'
  
#   ### special member functions
#   - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
#     value:           true
#   - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
#     value:           true 

#   ### short line statements
#   - key:             readability-braces-around-statements.ShortStatementLines
#     value:           4
#   - key:             google-readability-braces-around-statements.ShortStatementLines
#     value:           4
#   - key:             hicpp-braces-around-statements.ShortStatementLines
#     value:           4

#   ### necessary for POD-structs!
#   - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
#     value:           true
...

### TO BE INCLUDED IN THE FUTURE
  # clang-analyzer-optin.core.EnumCastOutOfRange,
  # clang-analyzer-optin.cplusplus.UninitializedObject,
  # clang-analyzer-optin.cplusplus.VirtualCall,
  # clang-analyzer-optin.mpi.MPI-Checker,
  # clang-analyzer-optin.osx.OSObjectCStyleCast,
  # clang-analyzer-optin.osx.cocoa.localizability.EmptyLocalizationContextChecker,
  # clang-analyzer-optin.osx.cocoa.localizability.NonLocalizedStringChecker,
  # clang-analyzer-optin.performance.GCDAntipattern,
  # clang-analyzer-optin.performance.Padding,
  # clang-analyzer-optin.portability.UnixAPI,
  # clang-analyzer-osx.API,
  # clang-analyzer-osx.MIG,
  # clang-analyzer-osx.NSOrCFErrorDerefChecker,
  # clang-analyzer-osx.NumberObjectConversion,
  # clang-analyzer-osx.OSObjectRetainCount,
  # clang-analyzer-osx.ObjCProperty,
  # clang-analyzer-osx.SecKeychainAPI,
  # clang-analyzer-osx.cocoa.AtSync,
  # clang-analyzer-osx.cocoa.AutoreleaseWrite,
  # clang-analyzer-osx.cocoa.ClassRelease,
  # clang-analyzer-osx.cocoa.Dealloc,
  # clang-analyzer-osx.cocoa.IncompatibleMethodTypes,
  # clang-analyzer-osx.cocoa.Loops,
  # clang-analyzer-osx.cocoa.MissingSuperCall,
  # clang-analyzer-osx.cocoa.NSAutoreleasePool,
  # clang-analyzer-osx.cocoa.NSError,
  # clang-analyzer-osx.cocoa.NilArg,
  # clang-analyzer-osx.cocoa.NonNilReturnValue,
  # clang-analyzer-osx.cocoa.ObjCGenerics,
  # clang-analyzer-osx.cocoa.RetainCount,
  # clang-analyzer-osx.cocoa.RetainCountBase,
  # clang-analyzer-osx.cocoa.RunLoopAutoreleaseLeak,
  # clang-analyzer-osx.cocoa.SelfInit,
  # clang-analyzer-osx.cocoa.SuperDealloc,
  # clang-analyzer-osx.cocoa.UnusedIvars,
  # clang-analyzer-osx.cocoa.VariadicMethodTypes,
  # clang-analyzer-osx.coreFoundation.CFError,
  # clang-analyzer-osx.coreFoundation.CFNumber,
  # clang-analyzer-osx.coreFoundation.CFRetainRelease,
  # clang-analyzer-osx.coreFoundation.containers.OutOfBounds,
  # clang-analyzer-osx.coreFoundation.containers.PointerSizedValues,
  # clang-analyzer-security.FloatLoopCounter,
  # clang-analyzer-security.cert.env.InvalidPtr,
  # clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  # clang-analyzer-security.insecureAPI.SecuritySyntaxChecker,
  # clang-analyzer-security.insecureAPI.UncheckedReturn,
  # clang-analyzer-security.insecureAPI.bcmp,
  # clang-analyzer-security.insecureAPI.bcopy,
  # clang-analyzer-security.insecureAPI.bzero,
  # clang-analyzer-security.insecureAPI.decodeValueOfObjCType,
  # clang-analyzer-security.insecureAPI.getpw,
  # clang-analyzer-security.insecureAPI.gets,
  # clang-analyzer-security.insecureAPI.mkstemp,
  # clang-analyzer-security.insecureAPI.mktemp,
  # clang-analyzer-security.insecureAPI.rand,
  # clang-analyzer-security.insecureAPI.strcpy,
  # clang-analyzer-security.insecureAPI.vfork,
  # clang-analyzer-unix.API,
  # clang-analyzer-unix.DynamicMemoryModeling,
  # clang-analyzer-unix.Errno,
  # clang-analyzer-unix.Malloc,
  # clang-analyzer-unix.MallocSizeof,
  # clang-analyzer-unix.MismatchedDeallocator,
  # clang-analyzer-unix.StdCLibraryFunctions,
  # clang-analyzer-unix.Vfork,
  # clang-analyzer-unix.cstring.BadSizeArg,
  # clang-analyzer-unix.cstring.CStringModeling,
  # clang-analyzer-unix.cstring.NullArg,
  # clang-analyzer-valist.CopyToSelf,
  # clang-analyzer-valist.Uninitialized,
  # clang-analyzer-valist.Unterminated,
  # clang-analyzer-valist.ValistBase,
  # clang-analyzer-webkit.NoUncountedMemberChecker,
  # clang-analyzer-webkit.RefCntblBaseVirtualDtor,
  # clang-analyzer-webkit.UncountedLambdaCapturesChecker,
  # concurrency-mt-unsafe,
  # concurrency-thread-canceltype-asynchronous,
  # cppcoreguidelines-avoid-c-arrays,
  # cppcoreguidelines-avoid-capturing-lambda-coroutines,
  # cppcoreguidelines-avoid-const-or-ref-data-members,
  # cppcoreguidelines-avoid-do-while,
  # cppcoreguidelines-avoid-goto,
  # cppcoreguidelines-avoid-magic-numbers,
  # cppcoreguidelines-avoid-non-const-global-variables,
  # cppcoreguidelines-avoid-reference-coroutine-parameters,
  # cppcoreguidelines-c-copy-assignment-signature,
  # cppcoreguidelines-explicit-virtual-functions,
  # cppcoreguidelines-init-variables,
  # cppcoreguidelines-interfaces-global-init,
  # cppcoreguidelines-macro-to-enum,
  # cppcoreguidelines-macro-usage,
  # cppcoreguidelines-misleading-capture-default-by-value,
  # cppcoreguidelines-missing-std-forward,
  # cppcoreguidelines-narrowing-conversions,
  # cppcoreguidelines-no-malloc,
  # cppcoreguidelines-no-suspend-with-lock,
  # cppcoreguidelines-noexcept-destructor,
  # cppcoreguidelines-noexcept-move-operations,
  # cppcoreguidelines-noexcept-swap,
  # cppcoreguidelines-non-private-member-variables-in-classes,
  # cppcoreguidelines-owning-memory,
  # cppcoreguidelines-prefer-member-initializer,
  # cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  # cppcoreguidelines-pro-bounds-constant-array-index,
  # cppcoreguidelines-pro-bounds-pointer-arithmetic,
  # cppcoreguidelines-pro-type-const-cast,
  # cppcoreguidelines-pro-type-cstyle-cast,
  # cppcoreguidelines-pro-type-member-init,
  # cppcoreguidelines-pro-type-reinterpret-cast,
  # cppcoreguidelines-pro-type-static-cast-downcast,
  # cppcoreguidelines-pro-type-union-access,
  # cppcoreguidelines-pro-type-vararg,
  # cppcoreguidelines-rvalue-reference-param-not-moved,
  # cppcoreguidelines-slicing,
  # cppcoreguidelines-special-member-functions,
  # cppcoreguidelines-use-default-member-init,
  # cppcoreguidelines-virtual-class-destructor,
  # darwin-avoid-spinlock,
  # darwin-dispatch-once-nonstatic,
  # fuchsia-default-arguments-calls,
  # fuchsia-default-arguments-declarations,
  # fuchsia-header-anon-namespaces,
  # fuchsia-multiple-inheritance,
  # fuchsia-overloaded-operator,
  # fuchsia-statically-constructed-objects,
  # fuchsia-trailing-return,
  # fuchsia-virtual-inheritance,
  # google-build-explicit-make-pair,
  # google-build-namespaces,
  # google-build-using-namespace,
  # google-default-arguments,
  # google-explicit-constructor,
  # google-global-names-in-headers,
  # google-objc-avoid-nsobject-new,
  # google-objc-avoid-throwing-exception,
  # google-objc-function-naming,
  # google-objc-global-variable-declaration,
  # google-readability-avoid-underscore-in-googletest-name,
  # google-readability-braces-around-statements,
  # google-readability-casting,
  # google-readability-function-size,
  # google-readability-namespace-comments,
  # google-readability-todo,
  # google-runtime-int,
  # google-runtime-operator,
  # google-upgrade-googletest-case,
  # hicpp-avoid-c-arrays,
  # hicpp-avoid-goto,
  # hicpp-braces-around-statements,
  # hicpp-deprecated-headers,
  # hicpp-exception-baseclass,
  # hicpp-explicit-conversions,
  # hicpp-function-size,
  # hicpp-ignored-remove-result,
  # hicpp-invalid-access-moved,
  # hicpp-member-init,
  # hicpp-move-const-arg,
  # hicpp-multiway-paths-covered,
  # hicpp-named-parameter,
  # hicpp-new-delete-operators,
  # hicpp-no-array-decay,
  # hicpp-no-assembler,
  # hicpp-no-malloc,
  # hicpp-noexcept-move,
  # hicpp-signed-bitwise,
  # hicpp-special-member-functions,
  # hicpp-static-assert,
  # hicpp-undelegated-constructor,
  # hicpp-uppercase-literal-suffix,
  # hicpp-use-auto,
  # hicpp-use-emplace,
  # hicpp-use-equals-default,
  # hicpp-use-equals-delete,
  # hicpp-use-noexcept,
  # hicpp-use-nullptr,
  # hicpp-use-override,
  # hicpp-vararg,
  # linuxkernel-must-check-errs,
  # llvm-else-after-return,
  # llvm-header-guard,
  # llvm-include-order,
  # llvm-namespace-comment,
  # llvm-prefer-isa-or-dyn-cast-in-conditionals,
  # llvm-prefer-register-over-unsigned,
  # llvm-qualified-auto,
  # llvm-twine-local,
  # llvmlibc-callee-namespace,
  # llvmlibc-implementation-in-namespace,
  # llvmlibc-inline-function-decl,
  # llvmlibc-restrict-system-libc-headers,
  # misc-confusable-identifiers,
  # misc-const-correctness,
  # misc-coroutine-hostile-raii,
  # misc-definitions-in-headers,
  # misc-header-include-cycle,
  # misc-include-cleaner,
  # misc-misleading-bidirectional,
  # misc-misleading-identifier,
  # misc-misplaced-const,
  # misc-new-delete-overloads,
  # misc-no-recursion,
  # misc-non-copyable-objects,
  # misc-non-private-member-variables-in-classes,
  # misc-redundant-expression,
  # misc-static-assert,
  # misc-throw-by-value-catch-by-reference,
  # misc-unconventional-assign-operator,
  # misc-uniqueptr-reset-release,
  # misc-unused-alias-decls,
  # misc-unused-parameters,
  # misc-unused-using-decls,
  # misc-use-anonymous-namespace,
  # modernize-avoid-bind,
  # modernize-avoid-c-arrays,
  # modernize-concat-nested-namespaces,
  # modernize-deprecated-headers,
  # modernize-deprecated-ios-base-aliases,
  # modernize-loop-convert,
  # modernize-macro-to-enum,
  # modernize-make-shared,
  # modernize-make-unique,
  # modernize-pass-by-value,
  # modernize-raw-string-literal,
  # modernize-redundant-void-arg,
  # modernize-replace-auto-ptr,
  # modernize-replace-disallow-copy-and-assign-macro,
  # modernize-replace-random-shuffle,
  # modernize-return-braced-init-list,
  # modernize-shrink-to-fit,
  # modernize-type-traits,
  # modernize-unary-static-assert,
  # modernize-use-auto,
  # modernize-use-bool-literals,
  # modernize-use-constraints,
  # modernize-use-default-member-init,
  # modernize-use-emplace,
  # modernize-use-equals-default,
  # modernize-use-equals-delete,
  # modernize-use-nodiscard,
  # modernize-use-noexcept,
  # modernize-use-nullptr,
  # modernize-use-override,
  # modernize-use-starts-ends-with,
  # modernize-use-std-numbers,
  # modernize-use-std-print,
  # modernize-use-trailing-return-type,
  # modernize-use-transparent-functors,
  # modernize-use-uncaught-exceptions,
  # modernize-use-using,
  # mpi-buffer-deref,
  # mpi-type-mismatch,
  # objc-assert-equals,
  # objc-avoid-nserror-init,
  # objc-dealloc-in-category,
  # objc-forbidden-subclassing,
  # objc-missing-hash,
  # objc-nsdate-formatter,
  # objc-nsinvocation-argument-lifetime,
  # objc-property-declaration,
  # objc-super-self,
  # openmp-exception-escape,
  # openmp-use-default-none,
  # performance-avoid-endl,
  # performance-enum-size,
  # performance-faster-string-find,
  # performance-for-range-copy,
  # performance-implicit-conversion-in-loop,
  # performance-inefficient-algorithm,
  # performance-inefficient-string-concatenation,
  # performance-inefficient-vector-operation,
  # performance-move-const-arg,
  # performance-move-constructor-init,
  # performance-no-automatic-move,
  # performance-no-int-to-ptr,
  # performance-noexcept-destructor,
  # performance-noexcept-move-constructor,
  # performance-noexcept-swap,
  # performance-trivially-destructible,
  # performance-type-promotion-in-math-fn,
  # performance-unnecessary-copy-initialization,
  # performance-unnecessary-value-param,
  # portability-restrict-system-includes,
  # portability-simd-intrinsics,
  # portability-std-allocator-const,
  # readability-avoid-const-params-in-decls,
  # readability-avoid-nested-conditional-operator,
  # readability-avoid-return-with-void-value,
  # readability-avoid-unconditional-preprocessor-if,
  # readability-braces-around-statements,
  # readability-const-return-type,
  # readability-container-contains,
  # readability-container-data-pointer,
  # readability-container-size-empty,
  # readability-convert-member-functions-to-static,
  # readability-delete-null-pointer,
  # readability-duplicate-include,
  # readability-else-after-return,
  # readability-function-cognitive-complexity,
  # readability-function-size,
  # readability-identifier-length,
  # readability-identifier-naming,
  # readability-implicit-bool-conversion,
  # readability-inconsistent-declaration-parameter-name,
  # readability-isolate-declaration,
  # readability-magic-numbers,
  # readability-make-member-function-const,
  # readability-misleading-indentation,
  # readability-misplaced-array-index,
  # readability-named-parameter,
  # readability-non-const-parameter,
  # readability-operators-representation,
  # readability-qualified-auto,
  # readability-redundant-access-specifiers,
  # readability-redundant-casting,
  # readability-redundant-control-flow,
  # readability-redundant-declaration,
  # readability-redundant-function-ptr-dereference,
  # readability-redundant-inline-specifier,
  # readability-redundant-member-init,
  # readability-redundant-preprocessor,
  # readability-redundant-smartptr-get,
  # readability-redundant-string-cstr,
  # readability-redundant-string-init,
  # readability-reference-to-constructed-temporary,
  # readability-simplify-boolean-expr,
  # readability-simplify-subscript-expr,
  # readability-static-accessed-through-instance,
  # readability-static-definition-in-anonymous-namespace,
  # readability-string-compare,
  # readability-suspicious-call-argument,
  # readability-uniqueptr-delete-release,
  # readability-uppercase-literal-suffix,
  # readability-use-anyofallof,
  # zircon-temporary-objects,
