# Checks to be ignored:
# altera-unroll-loops: does not affect the code for non FPGA targets -- gets interesting for OpenCL kernels
# altera-struct-pack-align: does not affect the code for non FPGA targets -- gets interesting for OpenCL kernels
# boost-use-ranges: we do not want to use boost at all, to not increase our dependencies even more!!!
# bugprone-suspicious-include: flags more or less only false positives
# fuchsia-default-arguments-calls: there is a second check that disallows default arguments in function definitions, which is more important to us than this check (this for example triggers for simple std::vector constructors)
# fuchsia-overloaded-operator: we actually WANT to overload operators, so this check is not useful for us
# fuchsia-trailing-return: we actually WANT to use trailing return types, very useful for template functions, so this check is not useful for us
# llvmlibc-implementation-in-namespace: we don't want llvm namesapce pollution
# llvmlibc-callee-namespace: some more llvm garbage
# llvmlibc-restrict-system-libc-headers: some more llvm garbage
# llvmlibc-inline-function-decl: some more llvm garbage
# llvm-include-order: has a different include order than we do
#modernize-use-trailing-return-type: we do not want to enforce this, at least not for now

# Checks to be absolutely enabled:
# cert-env33-c: ::system is not available on all platforms, and we do not want to use it anyway
# cert-err58-cpp: needs a generalized implementation fix
# bugprone-easily-swappable-parameters: we need to adopt the code base to it
# cppcoreguidelines-avoid-const-or-ref-data-members: needs huge rework
# concurrency-mt-unsafe: same as cert-env33-c, we do not want to use ::system anyway
# cppcoreguidelines-non-private-member-variables-in-classes: needs huge rework
# cppcoreguidelines-pro-type-union-access: should be possible to avoid this warning for Vector3D, but needs a rework of the code base
# cppcoreguidelines-pro-type-member-init: needs a rework of the code base, but should be possible to fix it for all classes
# cppcoreguidelines-owning-memory: needs a rework of the code base, but should be possible to fix it for all classes
# fuchsia-statically-constructed-objects: needs a rework of the global const maps like atomMassMap, atomNumberMap, hubbardDerivMap3ob, etc. to avoid this warning
# fuchsia-virtual-inheritance: needs a huge rework of the engine code base, but should be possible to fix it for all classes
# fuchsia-multiple-inheritance: needs a huge rework of the engine code base, but should be possible to fix it for all classes
# google-build-using-namespace: definitely needed but needs a rework of the code base, maybe with a custom clang-tidy checker
# google-readability-todo: needs to be discussed on how to generalize TODO handling
# hicpp-member-init: while checking i have seen that there are some parts that really need to be checked (not that straightforward to fix)
# misc-non-private-member-variables-in-classes: similar to cppcoreguidelines-non-private-member-variables-in-classes, needs a rework of the code base
---
Checks:          
  '
  abseil-*,
  altera-*,
  android-*,
  bugprone-*,
  cert-*,
  clang*,
  concurrency*,
  cppcoreguidelines*,
  darwin*,
  fuchsia*,
  google*,
  hicpp*,
  linuxkernel*,
  llvm*,
  misc-*,
  modernize*,
  mpi*,
  objc*,
  openmp*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -bugprone-easily-swappable-parameters,
  -cert-env33-c,
  -cert-err58-cpp,
  -fuchsia-statically-constructed-objects,
  -fuchsia-virtual-inheritance,
  -fuchsia-multiple-inheritance,
  -google-build-using-namespace,
  -google-readability-todo,
  -hicpp-member-init,
  -misc-non-private-member-variables-in-classes,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -boost-use-ranges,
  -bugprone-suspicious-include,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-callee-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-inline-function-decl,
  -llvm-include-order,
  -modernize-use-trailing-return-type,
  '
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
  - tpp
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - tpp
  - cxx
HeaderFilterRegex: '.*/PQ/src/.*'
SystemHeaders: false
FormatStyle:     google
CheckOptions:
    ### allow some magic numbers
    - key:             readability-magic-numbers.IgnoredFloatingPointValues
      value:           "0.5;2.0"
    - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
      value:           "0.5;2.0;1.0"

    ### special member functions
    - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value:           true
    - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
      value:           true

#   - key:             llvmlibc-restrict-system-libc-headers.Includes
#     value:           'cstdint'

#   ### allow short variable names
#   - key:             readability-identifier-length.IgnoredParameterNames
#     value:           '^(id|it|db|x|y|z|tx)$'
#   - key:             readability-identifier-length.IgnoredVariableNames
#     value:           '^(id|it|db|x|y|z|tx)$'
  

  ### short line statements
    - key:             readability-braces-around-statements.ShortStatementLines
      value:           4
    - key:             google-readability-braces-around-statements.ShortStatementLines
      value:           4
    - key:             hicpp-braces-around-statements.ShortStatementLines
      value:           4

  ### necessary for POD-structs!
    - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value:           true
...

### TO BE INCLUDED IN THE FUTURE
  # performance-avoid-endl,
  # performance-enum-size,
  # performance-faster-string-find,
  # performance-for-range-copy,
  # performance-implicit-conversion-in-loop,
  # performance-inefficient-algorithm,
  # performance-inefficient-string-concatenation,
  # performance-inefficient-vector-operation,
  # performance-move-const-arg,
  # performance-move-constructor-init,
  # performance-no-automatic-move,
  # performance-no-int-to-ptr,
  # performance-noexcept-destructor,
  # performance-noexcept-move-constructor,
  # performance-noexcept-swap,
  # performance-trivially-destructible,
  # performance-type-promotion-in-math-fn,
  # performance-unnecessary-copy-initialization,
  # performance-unnecessary-value-param,
  # portability-restrict-system-includes,
  # portability-simd-intrinsics,
  # portability-std-allocator-const,
  # readability-avoid-const-params-in-decls,
  # readability-avoid-nested-conditional-operator,
  # readability-avoid-return-with-void-value,
  # readability-avoid-unconditional-preprocessor-if,
  # readability-braces-around-statements,
  # readability-const-return-type,
  # readability-container-contains,
  # readability-container-data-pointer,
  # readability-container-size-empty,
  # readability-convert-member-functions-to-static,
  # readability-delete-null-pointer,
  # readability-duplicate-include,
  # readability-else-after-return,
  # readability-function-cognitive-complexity,
  # readability-function-size,
  # readability-identifier-length,
  # readability-identifier-naming,
  # readability-implicit-bool-conversion,
  # readability-inconsistent-declaration-parameter-name,
  # readability-isolate-declaration,
  # readability-magic-numbers,
  # readability-make-member-function-const,
  # readability-misleading-indentation,
  # readability-misplaced-array-index,
  # readability-named-parameter,
  # readability-non-const-parameter,
  # readability-operators-representation,
  # readability-qualified-auto,
  # readability-redundant-access-specifiers,
  # readability-redundant-casting,
  # readability-redundant-control-flow,
  # readability-redundant-declaration,
  # readability-redundant-function-ptr-dereference,
  # readability-redundant-inline-specifier,
  # readability-redundant-member-init,
  # readability-redundant-preprocessor,
  # readability-redundant-smartptr-get,
  # readability-redundant-string-cstr,
  # readability-redundant-string-init,
  # readability-reference-to-constructed-temporary,
  # readability-simplify-boolean-expr,
  # readability-simplify-subscript-expr,
  # readability-static-accessed-through-instance,
  # readability-static-definition-in-anonymous-namespace,
  # readability-string-compare,
  # readability-suspicious-call-argument,
  # readability-uniqueptr-delete-release,
  # readability-uppercase-literal-suffix,
  # readability-use-anyofallof,
  # zircon-temporary-objects,
