.cache/

.trunk/

**/gmon.out

build*
_build*
.build*

install/

examples/cgo

examples/**/testset*
examples/**/perf*

examples/**/*.xyz
examples/**/*.vel
examples/**/*.force
examples/**/*.chrg
examples/**/*.charge
examples/**/*.mom

*.gcov

googletest

**/__pycache__*
**/.pytest_cache

compile_commands.json
