.cache/

.trunk/

**/gmon.out

build*
_build*
.build*

install/

examples/cgo

examples/**/testset*
examples/**/perf*

examples/**/*.box
examples/**/*.chrg
examples/**/*.en
examples/**/*.force
examples/**/*.info
examples/**/*.instant_en
examples/**/*.log
examples/**/*.mom
examples/**/*.ref
examples/**/*-01.rpmd.rst
examples/**/*-01.rst
examples/**/*.stress
examples/**/*.timings
examples/**/*.vel
examples/**/*.vir
examples/**/*.xyz

examples/**/charges.bin
examples/**/coords
examples/**/coords.prev
examples/**/dftb.out.prev
examples/**/mm_forces
examples/**/qm_charges
examples/**/qm_forces
examples/**/stress_tensor
examples/**/*.gen
examples/**/*.hsd
examples/**/*.out

examples/**/auxbasis
examples/**/basis
examples/**/CCl0o-1--1---0
examples/**/control
examples/**/coord.prev
examples/**/energy
examples/**/gradient
examples/**/gsdens
examples/**/mos
examples/**/restart.cc
examples/**/statistics
examples/**/statistics.ricc2
examples/**/sys
examples/**/tm_define.in
examples/**/tm.out.prev
examples/**/tm.out
examples/**/traj2box
examples/**/*.cao


*.gcov

googletest

**/__pycache__*
**/.pytest_cache

# Virtual Environment
venv
.venv
env
.env

